body {
    // @include fluid-text(18, 16);
    color: var(--color-black);
    background-color: var(--color-white);
    overflow-x: hidden;

}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
.h1 {
    font-weight: 600;
    @include fluid-text(75, 46);
}

h2,
.h2 {
    font-weight: 700;
    @include fluid-text(51, 30);
}

h3,
.h3 {
    font-weight: 600;
    @include fluid-text(45, 30);
}

h4,
.h4 {
    //только get 50%
    font-weight: 800;
    @include fluid-text(70, 41);
}