.about {
    // width: 50%;
    

    &__payment {
        width: 100%;

        &-list {
            align-items: center;
            margin: 0 auto;
            width: 50%;
            &-item {
                width: 100%;
                &-right {
                    margin-right: 3rem;
                    margin-left: auto;
                }
                &-sum {
                    @include flex-center;
                    margin-top: 0.3rem;
                    padding-left: 1rem;
                }
            }
        }

        &-adds {
            @include flex-center;
            gap: 1.5rem;
        
        }
        &-price{
            &--count {
                margin: 0 0 0 15px;
            }
        }
        
    }
    &__map {
        width: 85%;
        margin: 6rem auto;
        &-image {
            width: 100%;
            margin: 0 auto;
            height: auto;
        }
    }
}