.about {
    &__payment {
        width: 100%;

        &-list {
            align-items: center;
            margin: 0 auto;
            width: 50%;

            @include mobile {
                width: 81%;
            }

            &-item {
                width: 100%;
                height: 12vw;

                @include mobile {
                    height: 16vw;
                }

                @include mobile-s {
                    height: 25vw;
                }


                &-right {
                    margin-right: 3rem;
                    margin-left: auto;

                    @include mobile {
                        margin-right: 1rem;
                    }
                }

                &-sum {
                    @include flex-center;
                    margin-top: 0.3rem;
                    // padding-left: 1rem;
                }
            }
        }

        &-adds {
            @include flex-center;
            gap: .5rem;

        }

        &-btn {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 9px;
            @include flex-center;

        }
        &-minus {
            background-color: white;

        }
        &-plus {
            background-color: black;
        }
    }
    &__payment::before {
        content: "";
        width: 60px;
        height: 50px;
        @include flex-center;
        background-image: url(/VAR1/images/Illustration01.svg);
        margin: 0 22vw 0 auto;

        @include desktop {
            margin-right: 20vw;
        }
        @include tablet {
            margin-right: 18vw;
        }
        @include mobile {
            margin-right: 2vw;
            margin-top: -25vw;
        }
    }
    &__map {
        width: 85%;
        margin: 6rem auto 3rem;
        

        @include mobile {
            width: 100vw;
            // position: relative;
            // left: -52%;
            //     width: 200%;
            margin-bottom: 6rem;
        }
        &-image {
            width: 100%;
            margin: 0 auto;
            height: auto;

            @include mobile{
                // position: relative;
                // left: -50%;
                // width: 200%;
            }
        }

    }
}