.accordion {
    width: 95%;
    margin: 0 auto;
    
    &-details p {
        padding: 10px;
        margin: 0;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-top: none;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    &-details[open] p {
        opacity: 1;
        max-height: 100px; /* Достаточно для 1-2 предложений */
    }

    &-details[open] &-summary::after {
        transform: rotate(45deg);
    }

    &-summary{
        list-style: none;
        outline: none;

        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-weight: bold;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        transition: background-color 0.3s ease;

        &::marker {
            display: none;  /* Убираем встроенный маркер (треугольник) */
        }
    }
    &-summary::after {
        content: "+";
        font-size: 20px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007bff; /* Синий фон кружка */
        color: white; /* Цвет плюсика */
        border-radius: 50%; /* Круглая форма */
        transition: transform 0.3s ease;
    }
}