.card-top-base {
    display: inline-block;
    letter-spacing: 0.15rem;
    font-family: var(--font-family-poppins);
    font-weight: 400;
}

.card-top1 {
    background-color: var(--color-beige-contur);
    color: var(--color-orange-text);
}

.card-top2 {
    background-color: var(--color-pinc-contur);
    color: var(--color-red-text);
}

.card-top3 {
    background-color: var(--color-green-contur);
    color: var(--color-green-text);
}