.customer {
    overflow: hidden;
    /* Отключаем горизонтальный скролл */
    width: 100%;

    /* Полная ширина экрана */
    &__title {
        @include flex-center;
        column-gap: 15px;
        font-size: 45px;
        font-weight: 700;
        font-family: var(--font-family-poppins);
        line-height: 26px;
        color: var(--color-black2);
        margin: 116px auto 80px;
        text-shadow: 0 4px 4px hwb(0 0% 100% / 0.251);

        &-span {
            color: var(--color-fiolet-text);
        }

        @include tablet {
            font-size: 32px;
            margin: 82px auto 56px;
        }

        @include mobile {
            font-size: 30px;
        }
    }

    &__list {
        @include flex-center;
        justify-content: space-between;
        align-items: flex-start;
        width: calc(100% + 20%);
        /* Контейнер больше экрана на один блок */
        gap: 45px;
        left: 0;
        /* Выравниваем контейнер по левому краю */
        margin-left: 105px;
        position: relative;

        /* Обеспечиваем нормальное выравнивание */
        @include tablet {
            gap: 0;
            margin-left: 30px;
        }

        &>*:first-child::before {
            content: "";
            display: inline-block;
            margin-left: 15px;
            width: 100%;
            height: 11px;
            border-radius: 50px;
            background-color: var(--color-fiolet-light);
            position: absolute;
            bottom: 0;
            left: calc(100% + 54px - 15px);

            @include mobile {
                left: 0;
                margin-left: 0;
                margin-right: 29.25vw;
                bottom: -50px;
                width: 100%;
            }
        }

        /* Отступ между вторым и третьим элементом */
        &>*:first-child::after {
            content: "";
            display: inline-block;
            margin-left: 15px;
            width: calc(100% * 1.3 / 3);
            height: 11px;
            border-radius: 50px;
            background-color: var(--color-fiolet);
            position: absolute;
            bottom: 0;
            left: calc(100% + 54px - 15px);

            @include mobile {
                left: 0;
                margin-left: 0;
                bottom: -50px;
                width: 43.5%;
            }
        }

        &-item {
            width: 33.33%;
            @include flex-center;
            flex-direction: column;
            border-radius: 21px;
            border: 0.01px solid #707070;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922), 0 22px 29px rgba(0, 0, 0, 0.16);
            position: relative;

            @include tablet {
                border-radius: 15px;
                margin-right: 33px;
            }

            @include mobile {
                width: 62%;
                flex: auto;
                margin-right: 0;
                margin-right: 29.25vw;

                &:not(:first-child) {
                    display: none;
                }
            }

            &-top {
                @include flex-center;
                width: 100%;
                padding: 44px 40px 28px;

                @include tablet {
                    padding: 27px 35px 10px 30px;
                }
            }

            &-name-time {
                @include flex-center;
                flex-direction: column;
                align-items: start;
                width: 100%;
                margin-left: 21px;
            }

            &-name {
                font-family: var(--font-family-poppins);
                font-size: 21px;
                font-weight: 500;
                text-shadow: 0 4px 4px #00000040;

                @include tablet {
                    font-size: 15px;
                }
            }

            &-time_with_us {
                font-family: var(--font-family-quicksand);
                font-size: 16.7px;
                font-weight: 500;
                color: var(--color-dark2);
                text-shadow: 0 4px 4px #00000040;

                @include tablet {
                    font-size: 12px;
                }
            }

            &-stars {
                align-self: flex-start;
                margin-left: 44px;
                margin-bottom: 20px;

                @include tablet {
                    margin-left: 27px;
                }
            }
        }
    }
}