.downloadapp {
    @include flex-center;
    column-gap: 11.75vw;
    margin: 104px 74px 98px 215px;

    @include tablet {
        margin: 73px 57px 70px 147px;
    }

    @include mobile {
        flex-direction: column-reverse;
        margin: 67px auto;
    }

    &__image {
        @include tablet {
            width: 264px;
            height: 444px;
        }

        @include mobile {
            margin-left: 47px;
        }
    }

    &__sidetext {
        max-width: 560px;

        @include tablet {
            max-width: 398px;
        }

        @include mobile {
            @include flex-center;
            flex-direction: column;
        }
    }

    &__title {
        font-family: var(--font-family-poppins);
        font-weight: 700;
        font-size: 51px;
        line-height: 58px;
        text-shadow: 0 4px 4px var(--color-black);
        max-width: 500px;
        text-align: start;
        margin-bottom: 63px;

        @include tablet {
            font-size: 36px;
            line-height: 41px;
            max-width: 398px;
            margin-bottom: 45px;
        }

        &-quality {
            color: var(--color-fiolet-text);
            text-shadow: 0 4px 4px var(--color-fiolet-text);
        }

        @include mobile {
            text-align: center;
            max-width: 329px;
            margin-bottom: 45px;
        }
    }

    &__list {
        list-style: disc;
        padding-right: 50px;
        padding-left: 10px;
        font-size: 20px;
        font-weight: 400;
        line-height: 31px;
        font-family: var(--font-family-inter);
        color: var(--color-grey-light-text2);
        max-width: 480px;

        &-item {
            margin-bottom: 28px;

            @include mobile {
                margin-bottom: 16px;
            }
        }

        @include tablet {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 19px;
        }

        @include mobile {
            font-size: 12px;
            padding-right: 0;
        }
    }

    &__button {
        margin-top: 30px;
        margin-left: -20px;
        font-family: var(--font-family-poppins);
        font-weight: 500;
        font-size: 18px;
        @include flex-center(true);
        height: var(--button-height-base-deckstop);
        padding-inline: 26px;
        color: var(--color-white);
        background-color: var(--color-fiolet-main);
        border: var(--border);
        border-radius: var(--border-radius-buttom-top);

        @include hover {
            color: var(--color-fiolet-main);
            background-color: var(--color-white);
            border-color: var(--color-fiolet-main);
            font-weight: 600;

            &::after {
                background-color: var(--color-fiolet-main);
                margin-left: 7.5px;
            }
        }

        @include tablet {
            margin-top: 11px;
        }

        @include mobile {
            margin: auto;
            display: flex;
        }

        &::after {
            content: "";
            display: inline-block;
            margin-left: 15px;
            width: 27px;
            height: 27px;
            background-color: var(--color-white);
            mask-image: url('../../images/Arrow.svg');
        }
    }

    &__vector {
        position: relative;
        left: 160px;
        margin-top: -78px;
        transform: rotate(352deg);
        width: 154px;

        @include tablet {
            width: 109px;
            margin-top: -75px;
        }

        @include mobile {
            left: -135px;
            margin-top: -20px;
            transform: rotate(466deg);
            width: 155px;
        }
    }
}