.features {
    background-image: url(../../images/BG_features.svg);
    background-size: cover;
    color: var(--color-white);
    height: 220px;
    @include flex-center;
    @include mobile {
        background-size: cover;
        height: 748px;
        margin-top: 75px;
    }
    &__list{
        @include flex-center;
        position: relative;
        column-gap: 15vw;
        @include tablet {
            column-gap: 10vw;
        }
            @include mobile {
            flex-direction: column;
            justify-content: space-around;
            max-width: 100%;
            column-gap: 120px;
            height: 566px;
        }
        &-item:not(:first-child)::before {
            content: "";
            position: absolute;
            left: 33%;
            top: 50%;
            width: 2px;
            height: 100%;
            background-color: var(--color-grey2);
            transform: translateY(-50%);
            opacity: 0.25;
            @include mobile {
                left: 0;
                top: 67%;
                width: 100%;
                height: 2px;
            }
        }
        &-item:not(:first-child)::after {
            content: "";
            position: absolute;
            right: 33%;
            top: 50%;
            width: 2px;
            height: 100%;
            background-color: var(--color-grey2);
            transform: translateY(-50%);
            opacity: 0.25;
            @include mobile {
                left: 0;
                top: 33%;
                width: 100%;
                height: 2px;
            }
        }
        &-item {
            @include flex-center;
            flex-direction: column;
            max-width: 263px;
            text-align: center;
            @include mobile {
                column-gap: 56px;
            }
        }
        &-count {
            font-family: var(--font-family-public);
            font-weight: 700;
            font-size: 43px;
        }
        &-discription {
            font-family: var(--font-family-inter);
            font-weight: 400;
            font-size: 14px;
            color: var(--color-grey-text);
            max-width: 208px;
        }
    }
}
