.get50off {
    margin: 10% 5% 10% 5%;
    position: relative;
    height: 600px;
    font-family: var(--font-family-poppins);

    @include tablet {
        margin-bottom: 12%;
    }

    &__main {

        &-apply {
            position: absolute;
            border-radius: 24px;
            box-shadow:
                25px 100px 40px #e5e5e5b3,
                0 4px 4px #00000040,
                0 0 5px .2px #00000033,
                0 0 5px .5px #F4F4F6;
            width: 30%;
            height: 114%;
            top: 0;
            right: 0;
            @include flex-center;
            flex-direction: column;

            @include mobile {
                width: 100%;
                top: 125%;
                box-shadow: none;
                box-shadow:
                    25px 35px 40px #e5e5e5b3,
                    0 4px 4px #00000040,
                    0 0 5px .2px #00000033,
                    0 0 5px .5px #F4F4F6;
            }

            &-category {
                @include flex-center;
                flex-direction: column;
                width: 100%;

                &-title {
                    font-size: 22px;
                    font-weight: 600;
                    margin: 32px auto 17px 15px;
                }

                &-list {
                    @include flex-center;
                    column-gap: 13px;
                    width: 90%;

                    @include mobile {
                        width: 100%;
                    }
                }

                &-items {
                    border-radius: 15px;
                    width: 20%;
                    height: 110px;
                    @include flex-center;
                    flex-direction: column;
                    justify-content: space-evenly;
                    font-size: 12px;
                    font-weight: 500;
                }

                &-items[data-category="pizza"] {
                    background-color: var(--color-category-pizza);
                    color: var(--color-category-pizza1);
                }

                &-items[data-category="asian"] {
                    background-color: var(--color-category-asian);
                    color: var(--color-category-asian1);
                }

                &-items[data-category="donat"] {
                    background-color: var(--color-category-donat);
                    color: var(--color-category-donat1);
                }

                &-items[data-category="icecream"] {
                    background-color: var(--color-category-ice);
                    color: var(--color-category-ice1);
                }
            }

            &-sort {
                @include flex-center;
                flex-direction: column;
                align-items: flex-start;
                width: 90%;
                position: relative;

                &-title {
                    font-size: 22px;
                    font-weight: 600;
                    margin-top: 25px;
                    margin-bottom: 10px;
                }

                &-list {
                    font-weight: 500;
                    font-size: 11px;
                    color: var(--color-grey-contur);
                    line-height: 25px;
                }

                &-rightlist {
                    align-self: flex-end;
                    position: relative;
                    top: -50px;
                    font-size: 11px;
                    color: var(--color-fiolet);
                    font-weight: 600;
                }
            }

            &-price {
                width: 90%;

                &-title {
                    font-weight: 600;
                    font-size: 22px;
                    margin-bottom: 10px;
                }

                &-range {
                    width: 100%;

                    &-list {
                        @include flex-center;
                        justify-content: space-between;
                        font-weight: 500;
                        font-size: 11px;
                        color: var(--color-grey-contur);
                    }
                }
            }

            &-button {
                width: 90%;
                color: #fff;
                background-color: var(--color-fiolet);
                border-radius: 14px;
                color: var(--color-apply);
                font-weight: 600;
                font-size: 14px;
                height: 10%;
                margin: auto;
                border: none;
            }
        }

        &-search {
            width: 65%;

            @include mobile {
                width: 100%;
                margin-top: calc(905px - 2vw);
            }

            &-form {
                @include flex-center;
                flex-direction: column;
                width: 100%;

                &-input {
                    width: 100%;
                    height: 75px;
                    background-color: var(--color-grey-search);
                    border-radius: 20px;
                    border: none;
                    background-image: url(../../images/Search.svg);
                    background-repeat: no-repeat;
                    background-position: 3% center;
                    padding-left: 10%;
                }

                &-buttons {
                    @include flex-center;
                    height: 75px;
                    width: 100%;
                    margin-top: 35px;
                    font-family: var(--font-family-poppins);
                    font-weight: 500;
                    font-size: 20px;
                }

                &-button-left,
                &-button-right {
                    /*active-button-fiolet по єтому классу переключать*/
                    border: 3px solid var(--color-fiolet);
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    height: 75px;
                    width: 50%;
                    background-color: var(--color-white);
                    color: var(--color-fiolet);
                }

                &-button-right {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
}

.action-category-menu {
    border: 3px solid #FB471D;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    border-radius: 9px;
    height: 6px;
    background-color: var(--color-fiolet);
}

input[type=range]::-webkit-slider-thumb {
    background: var(--color-fiolet);
    border: 5px solid var(--color-fiolet-border);
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    margin-top: -10px;
}

input[type=range]::-moz-range-track {
    border-radius: 9px;
    height: 6px;
    background-color: var(--color-fiolet);
}

input[type=range]::-moz-range-thumb {
    background: var(--color-fiolet);
    border: 5px solid var(--color-fiolet-border);
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: -10px;
}

.slider-active {
    background-color: var(--color-fiolet);
    width: 62px;
}

.active-button-fiolet {
    background-color: var(--color-fiolet);
    color: var(--color-white);
}