.get50off {
    &__main {
        width: 50%;
        height: 251px;
        background: url(../../images/MaskGroup1.svg);
        background-color: var(--color-fiolet-text);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 21px;
        margin: 120px 110px 50px 100px;
        position: relative;
        @include tablet {
            height: 200px;
            margin: 165px auto 150px;
        }
        @include mobile {
            @include flex-center;
            flex-direction: column;
            height: 257px;
            margin-top: 0;
        }
        &-title {
        width: auto;
        color: white;
        font-weight: 800;
        font-family: var(--font-family-poppins);
        opacity: .9;
        font-size: 70px;
        position: relative;
        left: 5%;
        top: 15%;

        @include tablet {
            font-size: 50px;
            left: 47px;
            top: 26px;
        }

        @include mobile {
            font-size: 41.5px;
            margin-top: 47px;
            left: 0;
        }
        }

        &-discription {
            color: white;
            font-weight: 800;
            font-family: var(--font-family-poppins);
            opacity: .4;
            font-size: 88px;
            position: relative;
            left: 5%;
            top: -10%;
        }

        &-imagemain{
            width: 256px;
            position: relative;
            top: -75%;
            right: -60%;

    
            @include tablet {
                width: 194px;
                height: 194px;
            }
    
            @include mobile {
                width: 170px;
                height: 170px;
                top: 10%;
                right: 0;
            }
            
        }
    }

}


