.get50 {
    &__main {
        width: 80%;
        height: 200px;
        background: url(../../images/MaskGroup1.svg);
        background-color: var(--color-fiolet-text);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 21px;
        margin: 215px auto 0;

    }

}