.header {
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include desktop {
        padding-top: 34px;
    }

    &__logo {
        margin-right: 100px;
        width: 100%;
        max-width: none;

        @include tablet {
            margin-right: 75px;
        }
    }

    &__logo img {
        // width: 100%;
        max-width: none;
    }

    &__button{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // width: 75%;
        @include tablet {
        column-gap: 10px;
        }
    }

    &__menu {
        display: flex;
        margin-right: 150px;
        font-size: 18px;
        font-family: var(--font-family-inter);
        font-weight: 400;
        @include desktop {
            font-size: 13px;
            margin-right: 75px;
        }

        &-list {
            display: flex;
            align-items: center;
            column-gap: 53px;
            @include tablet {
            column-gap: 38px;
            }
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 42px;
            
            @include hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 150px;
        left: 50%;
        margin: 0 auto;
        translate: -50%;
        width: 85%;
        height: 2px;
        background-color: var(--color-grey);
        transition-duration: inherit;
    }

    @include mobile-s {
        &::after {
            top: 100px;
            width: 90%;
        }
    }
}