.mobile-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    font-family: var(--font-family-inter);
    font-weight: 700;
    font-size: 48px;
    letter-spacing: .4rem;
    text-decoration: underline var(--color-fiolet-main) 4px;
    padding-right: 30px;

    &__top {
        @include flex-center;
        justify-content: space-between;
    }

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__list {
        @include flex-center;
        flex-direction: column;
        row-gap: 30px;
        min-height: 50vh;
    }

    &__button {
        background-color: var(--color-fiolet-medium);
        margin-bottom: 30px;
        min-height: 7rem;
        @include flex-center;

        &-login {
            background-color: var(--color-fiolet-light);
        }
    }
}