.pricing{
    &__top {
        background-image: url(/VAR1/images/BG.svg);
        width: 1500px;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}