.pricing{
    &__top {
        margin: 4rem auto -3rem;
        background-image: url(/VAR1/images/ourpricing.svg);
        // width: 85vw;
        height: 64.5vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__price {
        margin: 0 auto;
        background-image: url(/VAR1/images/pricecard.svg);
        height: 112vw;
        background-size: contain;
        
        background-repeat: no-repeat;
        background-position: center;
    }
    &__control {
        margin-top: -8rem;
    }
    &__customer {
        margin-bottom: 8rem;
    }
}