.pricing {
    &__top {
        margin: 2rem auto -3rem;
        background-image: url(/VAR1/images/ourpricing.svg);
        height: 64.5vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include mobile {
            background-image: url(/VAR1/images/bg_mobile_Pricing.svg);
            background-position: right;
            height: 115vw;
        }
    }

    &__price {
        // margin: 0 auto;
        // background-image: url(/VAR1/images/pricecard.svg);
        // height: 112vw;
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: center;
        // position: relative;
        width: 85%;
        box-shadow: 0 4px 4px #00000040,
        0 30px 420px #00000040;
        margin: 6rem auto;
        border-radius: 15px;
        font-family: var(--font-family-poppins);

        &-btn-block {
            @include flex-center;
            justify-content: flex-end;
            position: relative;
            top: 87vw;
            // margin: auto auto 0;
            height: 5vw;
            gap: 15vw;
            right: 15vw;
        }

        &-btn-item {
            width: 15vw;
            background-color: var(--color-fiolet);
            border-radius: 12.5px;
            color: var(--color-white-grey);
            font-family: var(--font-family-poppins);
            font-weight: 500;
            font-size: 1rem;
            // 
            height: 100%;
            position: relative;
            cursor: pointer;
        }
    }

    &__control {
        margin-top: -2rem;
    }

    &__customer {
        margin-bottom: 8rem;
    }
}

.btn-free, .btn-pro {
    @include flex-center;
    position: absolute; /* Абсолютне позиціонування */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; /* Вирівнювання тексту всередині */
    line-height: 100%; /* Зберігає вигляд тексту */

}

.pricing__price-table {
    display: grid;
    grid-template-columns: 1fr 25% 25%; // Три колонки однакової ширини
    grid-template-rows: repeat(12, auto); // Дванадцять рядків
    // gap: 16px; // Відступи між елементами
    row-gap: 1rem;
    column-gap: 5rem;

    & > .row-divider {
        grid-column: 1 / -1; // Лінія через всю ширину
        height: 1px;
        background-color: var(--color-grey); // Сіра лінія
        margin: 0 3px;
    }

    & > .cell {
        padding: 8px;
        text-align: center;
        // @include flex-center;

        &.first-column {
            text-align: left; // Вирівнювання тексту по лівому краю
            padding-left: 3rem; // Додатковий відступ зліва
        }
        &.first-row {
            font-weight: 600;
            // font-size: 40px;
            @include fluid-text(40, 25);
            text-align: left;
            margin-top: 1.5rem;
        }
        &.second-row {
            text-align: left;
            font-weight: 500;
        }
        &.third-row {
            display: inline-flex; // Вирівнювання елементів по горизонталі
            align-items: flex-end; // Вирівнювання за нижнім краєм
            gap: 2px; // Мінімальна відстань між елементами (регулюється)
        }

    }

    & > .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-left: 12vw;

        &.cross {
            background-color: var(--color-red);// Червоний фон для хрестика
            color: var(--color-white-grey);
            border-radius: 50%;
            width: 36px;
            height: 36px;
            // margin: 0 auto; // відстп зліва - центрація
        }

        &.check {
            background-color: var(--color-fiolet); // Фіолетовий фон для галочки
            color: var(--color-white-grey);
            border-radius: 50%;
            width: 36px;
            height: 36px;
            // margin: 0 auto; // відстп зліва - центрація
        }
    }

    & > .button-cell {
        & > a {
            display: inline-block;
            padding: 8px 16px;
            background-color: var(--color-fiolet);
            color: var(--color-white-grey);
            text-decoration: none;
            border-radius: 4px;
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
            // margin-left: 12vw;

        &:hover {
            background-color: var(--color-white-grey);
            border: 3px solid var(--color-fiolet);
            color: var(--color-fiolet);
        }
        }
    }
    &-currency{
        font-weight: 600;
        font-size: 17px;
        align-self: flex-start;
    }
    &-taxed {
        font-weight: 600;
        font-size: 46px;
        line-height: 1;
    }
    &-period {
        font-weight: 500;
        font-size: 11px;
        align-self: flex-end; // Переміщення до нижнього краю
    }
}
