.sign {
    display: flex;
    height: 100vh;

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-header__inner {
            justify-content: start;
            margin: 2rem auto auto 3rem;

            @include mobile {
                margin: 0 auto;
            }
        }

        @include mobile {
            width: 100%;
            margin-bottom: 0;
            justify-content: flex-start;
        }
    }

    &-button__burger-menu {
        margin: 0 0 0 auto;
    }

    &__right {
        width: 50%;
        background-image: url(/VAR1/images/bgsign.svg);
        background-color: var(--color-fiolet);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include mobile {
            display: none;
        }
    }

    &__title {
        margin: 6.5rem auto auto;
        @include fluid-text(36, 28);
        font-family: var(--font-family-poppins);
        font-weight: 600;
        line-height: 125%;
        color: var(--color-black2);
        text-shadow: 0 4px 4px var(--color-black);

        @include mobile {
            margin: 3.5rem auto;
        }
    }

    &__forms {
        &-social {
            @include flex-center;
            column-gap: 1.3rem;
            margin: 3rem auto;
            max-width: 25vw;

            @include mobile {
                max-width: 100vw;
            }

            &-google,
            &-apple {
                min-height: 3rem;
                width: 33vw;
                @include flex-center;
                width: 33vw;
                height: 3.5rem;
                background-color: var(--color-grey-forms2);
                border: none;
                border-radius: 14px;
                cursor: pointer;
                box-shadow: 6px 7px 7px rgba(229, 229, 229, 0.7019607843);
            }

            &-apple-image {
                margin-top: -5px;
            }
        }

        &-text {
            margin: 0 auto 2rem;
            text-align: center;
            font-family: var(--font-family-poppins);
            color: var(--color-fiolet-or);
            font-weight: 500;
            text-shadow: 0 4px 4px var(--color-black);
            opacity: 25%;
        }

        &-input {
            @include flex-center;
            flex-direction: column;
            gap: 25px;

            &-name {
                padding-left: 4.5rem;
                background: url(/VAR1/images/iconicon/iconpeaple.svg) no-repeat 23px center;
                background-size: 23px;
                filter: grayscale(2);
                opacity: 0.6;
            }

            &-email {
                padding-left: 4.5rem;
                background: url(/VAR1/images/iconicon/email.svg) no-repeat 23px center;
                background-size: 23px;
                filter: grayscale(2);
                opacity: 0.6;
            }

            &-password {
                background: url(/VAR1/images/iconicon/text.svg) no-repeat 23px center;
                filter: grayscale(2);
                opacity: 0.6;
            }

            &-item {
                width: 25vw;
                background-color: var(--color-grey-forms2);
                border: none;
                border-radius: 14px;
                cursor: pointer;
                min-height: 3rem;
                box-shadow: 6px 7px 6px rgba(229, 229, 229, 0.7019607843);

                @include mobile {
                    width: 70vw;
                }
            }

            &-item::placeholder {
                opacity: 35%;
                font-family: var(--font-family-poppins);
                font-size: 1rem;
                font-weight: 600;
                width: 25vw;
            }
        }

        &-btn {
            width: 25vw;
            margin: 1rem auto;
            min-height: 3rem;
            border: none;
            border-radius: 16px;
            cursor: pointer;
            background-color: var(--color-fiolet);
            color: var(--color-grey4);
            font-family: var(--font-family-poppins);
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: 0.01rem;
        }
    }

    &__footer {
        @include flex-center;
        justify-content: space-between;
        margin: 6rem 8rem 3rem;
        font-family: var(--font-family-poppins);
        font-weight: 500;
        font-size: 1rem;
        color: var(--color-grey-pp);
        line-height: 150%;
        text-shadow: 0 4px 4px rgba(229, 229, 229, 0.7019607843);

        @include mobile {
            margin: 2rem;
        }
    }

    &__text {
        font-family: var(--font-family-poppins);
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 0.01rem;
        color: var(--color-grey-pp);

        &-to_link_account {
            font-weight: 800;
            color: var(--color-fiolet);
        }

        &-span {
            opacity: 65%;
        }
    }
}