.sign {

    display: flex;
    // flex: 50%;
    height: 1024px;

    &__left {
        height: 1024px;
        width: 50%;
    }

    &__right {
        height: 1024px;
        width: 50%;
        background-image: url(/VAR1/images/bgsign.svg);
        background-size: cover;
        background-repeat: no-repeat;

    }
}