.get50off {
    &__slider::before {
        content: "";
        font-size: 38px;
        width: 40px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/VAR1/images/Illustration01.svg);
        color: var(--color-fiolet);
        overflow: visible;
        margin: 0 0 0 auto;

        @include tablet {
            margin-top: 3%;
        }
    }

    &__slider {
        width: 800px;
        height: 500px;
        overflow: hidden;
    }

    &_navigation {
        position: relative;
        bottom: 15%;
        left: 85%;
        transform: translateX(-50%);
        display: flex;
    }

    &_bar {
        width: 30px;
        height: 8px;
        margin: 6px;
        cursor: pointer;
        background-color: var(--color-fiolet-middle-contur);
        border-radius: 55px;
        transition: all 0.4s ease;
    }

    &_bar:hover {
        opacity: 1;
        transform: scale(1.1);
    }

    &_bar:active {
        opacity: 1;
        transform: scale(1.1);
        background-color: var(--color-fiolet);
        width: 60px;
    }

    input[name="r"] {
        position: absolute;
        visibility: hidden;
    }

    &__slides {
        width: 400%;
        height: 100%;
        display: flex;

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__slide {
        width: 25%;
        transition: all 0.6s ease;
    }
}

#get50off_r1:checked~.s1 {
    margin-left: 0;
}

#get50off_r2:checked~.s1 {
    margin-left: -25%;
}

#get50off_r3:checked~.s1 {
    margin-left: -50%;
}

.get50off_navigation label[for="get50off_r1"]:has(#get50off_r1:checked),
.get50off_navigation label[for="get50off_r2"]:has(#get50off_r2:checked),
.get50off_navigation label[for="get50off_r3"]:has(#get50off_r3:checked) {
    background-color: var(--color-fiolet-main);
    /* Темнее */
    width: 60px;
    /* Шире */
}

.middle {
    position: relative;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 60%;

    @include mobile {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: none;
        margin-top: -2.5rem;
    }
}